* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nav {
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: green;
}

.nav div {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
}

.nav div a {
    color: white;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: calc(100vh - 88.31px);
    
    align-items: center;
    justify-content: center;
    
}

.team > div {
    display: flex;
    gap: 1rem;
}

.profileCard {
    padding: 1rem;
    background-color: green;
    
}

.home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 88.31px);
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home-button-div {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    background-color: white;
}

.quotes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: calc(100vh - 88.31px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes img {
    height: 400px;
    width: 400px;
    object-fit: contain;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact textarea {
    font-size: larger;
    padding: 0.5rem;
}

.resetting-counter {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.resetting-counter-fancy {
    border: 5px solid yellowgreen;
    
}

.resetting-counter-fancy h1 {
    color: green;
}

.context-section {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
  }